.button {
    -fx-background-color: #626262;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 5;

}
.largeText {
    -fx-font-size: 64px;
    -fx-font-weight: bold;
}
.intro {
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}
.replace2_imageView {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.explore {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}
.about {
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-font-weight: bold;
}
.about_content {
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-font-weight: normal;
}
.footer_box {
    -fx-background-color: black;
    -fx-padding: 10;
}

.reference {
    -fx-font-size: 10px;
    -fx-fill: black;
    -fx-font-weight: lighter;
}